@model List<Zahtev>
@{

    Layout = "_LayoutBibliotekar";
}

<div>
    <h2>Zahtevi za izdavanje</h2>

    <table style="border:1px solid black" class="table table-bordered table-striped"    >

        <thead>
            <tr>
                <td>Ime korisnika</td>
                <td>Zahtev za knjigu</td>
                <td>Unesi datum do kad mora da vrati knjigu</td>
                <td>Prihvati</td>

            </tr>
        </thead>
        <tbody id="zahtev">
            @foreach (var zahtev in Model)
            {


            <tr style="background-color:azure" id="@zahtev.knjigaId">

                <form action="Prihvati" method="post">
                    <input type="hidden" name="z.knjigaId" value="@zahtev.knjigaId" />
                    <input type="hidden" name="z.usernameKorisnik" value="@zahtev.usernameKorisnik" />


                <td>@zahtev.Korisnik.ImeIPrezime</td>
                <td>@zahtev.Knjiga.Ime</td>
                <td><input type="date" name="datumDo" /></td>
                <td>
                    <button class="btn btn-success" onclick="Prihvati()">Prihvati</button>

                </td>

                </form>
            </tr>



            }


        </tbody>

    </table>


</div>

<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Zahtev.js"></script>


